<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgjt.yqsl.mapper.PowerUserMapper">

    <resultMap id="powerUserMap" type="com.zgjt.yqsl.entity.PowerUser">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="sex" property="sex"></result>
        <result column="birthday_date" property="birthdayDate"></result>
        <result column="account" property="account"></result>
        <result column="avatar" property="avatar"></result>
        <result column="status" property="status"></result>
        <result column="id_card" property="idCard"></result>
        <result column="duty" property="duty"></result>
        <result column="telephone" property="telephone"></result>
        <association property="powerShop" column="shop_id" select="findPowerShop"/>
    </resultMap>

    <select id="findStaffUser" resultMap="powerUserMap">
        select id,
               name,
               sex,
               birthday_date,
               account,
               avatar,
               status,
               id_card,
               duty,
               telephone
          from power_user
          where
          <choose>
              <when test='pageVo.duty == "2"'>
                  duty = 2
              </when>
              <when test='pageVo.duty == "3"'>
                  duty = 3
              </when>
              <otherwise>
                  (duty = 2 or duty = 3)
              </otherwise>
          </choose>

            <choose>
                <when test='pageVo.status == "0"'>
                    and status = 0
                </when>
                <when test='pageVo.status == "1"'>
                    and status = 1
                </when>
                <when test='pageVo.status == "2"'>
                    and status = 2
                </when>
            </choose>

            <choose>
                <when test='pageVo.sex == "0"'>
                    and sex = 0
                </when>
                <when test='pageVo.sex == "1"'>
                    and sex = 1
                </when>
            </choose>

            <if test="pageVo.name != null and pageVo.name != ''">
                and name like "%"#{pageVo.name}"%"
            </if>

          and is_deleted = 0
          order by create_time desc
    </select>

    <select id="findPowerShop" resultType="com.zgjt.yqsl.entity.PowerShop">
        select *
          from power_shop
          where id = #{shop_id}
    </select>


</mapper>
