<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgjt.yqsl.mapper.GoodsMsgKeyMapper">

    <insert id="insertGoodsMsgKey">
        insert into goods_msg_key(id, goods_msg_id, name, create_time, update_time)
        values
        <foreach collection="list" item="goodsMsgKey" separator=",">
            (#{goodsMsgKey.id}, #{goodsMsgKey.goodsMsgId}, #{goodsMsgKey.name}, #{goodsMsgKey.createTime}, #{goodsMsgKey.updateTime})
        </foreach>
    </insert>
</mapper>
