<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgjt.yqsl.mapper.GoodsMsgMapper">

    <resultMap id="goodsMsgMap" type="com.zgjt.yqsl.entity.GoodsMsg">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="brandId" column="brand_id"/>
        <result property="typeId" column="type_id"/>
        <result property="avartal" column="avartal"/>
        <result property="status" column="status"/>
        <result property="message" column="message"/>
        <collection property="goodsBrand" ofType="com.zgjt.yqsl.entity.GoodsBrand">
            <result property="name" column="name"></result>
            <result property="avatar" column="avatar"></result>
            <result property="message" column="message"></result>
        </collection>
        <collection property="goodsType" ofType="com.zgjt.yqsl.entity.GoodsType">
            <result property="name" column="typeName"></result>
        </collection>
    </resultMap>

    <resultMap id="goodsAttribute" type="com.zgjt.yqsl.entity.GoodsMsgKey">
        <id property="id" column="id"></id>
        <result property="goodsMsgId" column="goods_msg_id"></result>
        <result property="name" column="name"></result>
        <collection property="valueList" ofType="com.zgjt.yqsl.entity.GoodsMsgValue">
            <id property="id" column="valueId"></id>
            <result property="goodsMsgKeyId" column="goods_msg_key_id"></result>
            <result property="value" column="value"></result>
        </collection>
    </resultMap>

    <select id="findGoods" resultMap="goodsMsgMap">
        SELECT
            g.id,
            g.NAME name,
            g.brand_id,
            g.type_id,
            g.avartal,
            g.status,
            g.message,
            b.NAME brandName,
            b.avatar,
            b.message,
            t.name typeName
        FROM
            goods_msg g
            JOIN goods_brand b ON g.brand_id = b.id
            JOIN goods_type t On g.type_id = t.id
        WHERE
            g.is_deleted = 0
        <if test="pageVo.name != null and pageVo.name != ''">
            AND g.name like "%"#{pageVo.name}"%"
        </if>
        <if test="pageVo.brandId != null and pageVo.brandId != 0">
            AND g.brand_id = #{pageVo.brandId}
        </if>
        <if test="pageVo.typeId != null and pageVo.typeId != 0">
            AND g.type_id = #{pageVo.typeId}
        </if>
        ORDER BY g.create_time DESC
    </select>

    <select id="findAttributesByGoodsId" resultMap="goodsAttribute">
         select k.id, k.goods_msg_id, k.name,
						v.id valueId, v.goods_msg_key_id, v.value
				from goods_msg_key k
				left join goods_msg_value v
				on k.id = v.goods_msg_key_id
				where k.is_deleted = 0
				and v.is_deleted = 0
				and k.goods_msg_id = #{goodsId}
    </select>


</mapper>
